<!DOCTYPE html>
<html lang="en">
    <body>
        <title>message</title>
    </body>
    <body>
        <h1>sent message:<%-message.msg%></h1>
        <div class="msg">
            <form action="/" method="post">
                <level for="msgbox">Your message</level>
                <input type="text" name="message">
                <button type="submit" name="send" >send</button>
            </form>
        </div>
    </body>
</html>